h1 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 25px;
  color: #db7093;
}
h2 {
  font-family: "Alegreya Sans", sans-serif;
  color: #20b2aa;
  font-size: 25px;
  text-transform: capitalize;
}

h3 {
  font-family: "Alegreya Sans", sans-serif;
  color: #20b2aa;
  font-size: 25px;
  position: relative;
  left: -50px;
  top: -10px;
}
h4 {
  padding: 15px;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 25px;
  color: #20b2aa;
}

h6 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 15px;
  color: #20b2aa;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #db7093;
  font-family: "Alegreya Sans", sans-serif;
  list-style: none;
  font-size: 16px;
}

i {
  color: white;
}

.units {
  font-size: 16px;
  position: relative;
  top: -5px;
}

.units a {
  text-decoration: none;
}

.weather-forecast {
  text-align: center;
  font-family: "Alegreya Sans", sans-serif;

  color: #db7093;
  margin-bottom: 20px;
}

.weather-forecast-date {
  margin-top: -10px;
  font-size: 23px;
}

.weather-forecast-temperature {
  font-size: 16px;
}

.weather-forecast-min {
  opacity: 0.8;
}

.weather-app {
  opacity: 1;
  padding: 30px;
  margin: 40px auto;
  border-radius: 30px;
  border-style: solid;
  background-image: url(../img/weather-app-backgroun.jpg);

  background-size: cover;
}

.temp {
  margin-left: -5px;
}

.btn {
  background-color: #20b2aa;
  border: 1px solid black;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: #20b2aa;
  background-color: white;
}

.active {
  color: #20b2aa;
  cursor: default;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
  cursor: default;
}

#celsius-link {
  text-decoration: none;
}

#celsius-link:hover {
  text-decoration: none;
}
