h1 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 25px;
  color: #db7093;
}
h2 {
  font-family: "Alegreya Sans", sans-serif;
  color: #20b2aa;
  font-size: 25px;
  text-transform: capitalize;
}

h3 {
  font-family: "Alegreya Sans", sans-serif;
  color: #20b2aa;
  font-size: 25px;
  position: relative;
  left: -50px;
  top: -10px;
}
h4 {
  padding: 15px;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 25px;
  color: #20b2aa;
}

h6 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 15px;
  color: #20b2aa;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  color: #db7093;
  font-family: "Alegreya Sans", sans-serif;
  list-style: none;
  font-size: 15px;
}

i {
  color: white;
}

.units {
  font-size: 16px;
  position: relative;
  top: -5px;
}

.col {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 15px;
  color: #db7093;
  padding: 0 0 10% 0;
}

.weather-app {
  opacity: 1;
  padding: 30px;
  margin: 40px auto;
  border-radius: 30px;
  border-style: solid;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.temp {
  margin-left: -20px;
}
